/* Defines Universal Font Family */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* prevents horizontal scrolling */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --turtclr: #00CED1;
}

/* creates a left boarder throughout the div bord */
.bord {
    border-left: 10px solid #0D52BD;
    margin: 10px;
}


/* Changes to header background color and text color */
.top {
    background-color: #333333;
    color: var(--turtclr);
    
}

.headcontainer {
    /* makes the div within the head's children display flex */
    display: flex;
    justify-content: space-between;
    /* makes all children align evenly in the center of cross axis */
    align-items: center;
    padding: 10px 5px;
}

.headnav ul {
    list-style: none;
     display: flex; 
     
    }

    .headnav a {
    text-decoration: none;
    color: var(--turtclr);
    font-size: 20px;
    /* sets padding of the individual list items */
    padding: 5px;
    
    }

/* changes the list items background when hover */
.headnav a:hover {
    background-color: #FAF9F6;
    color: #333333;
}

/* hero class to add a background img above the about section */
.hero {
    background-color: #003152;
    background-image: url(background1.avif);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}



.aboutbox {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 5px 0px #003152;
    background-color: #333333;
    color: #00CED1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headshot {
    height: 400px;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 10px;
}

.abouttext {
    display: flex;
    margin: 10px 5px;
    /* easier to do media queries later on */
    flex-wrap: wrap;
}

.extraspace {
    height: 450px;
}

.Workdisc {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.workcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    /* display: flex; */
/*     
    flex-direction: row;
    flex-wrap: wrap; */
    /* moves the top row of boxes away from text */
    padding-top: 10px; 
    display: inline-block;
    margin: 10px;
    
    
    /* margin-right: auto;
    margin-left: auto; */
}

.project a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}



.project button {
    background-image: url(./triangles-1430105_640.webp);
    /* sets diameters of the button boxes */
    width: 380px;
    height: 110px;
    color: #333333;
    font-size: 16px;
    
}

.project button:hover {
    /* makes button bigger on hover */
    transform:scale(1.1);
    margin-left: 20px;
    margin-right: 2 0px;
    box-shadow: 10px 0px 10px 0px #003152;
    
}

/* .project button:hover {
    display: flex;
    transform: scale(1.1);
   
}
     */

.projabout {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}






     footer {
    background-color: #333333;
}

.footbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px;
}

.footbox ul {
    list-style: none;
    display: flex;
}

.footbox a {
    text-decoration: none;
    color: #00CED1;
    font-size: 20px;
    padding: 10px;
}

.footbox a:hover {
    background-color: #FAF9F6;
    color: #333333;
}


@media screen and (min-width: 1440px) {
    header {
        width: 100%;
    }
    
    
    .headcontainer {
        width: 100%;
    }

    .aboutbox {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-left: 360px;
    }

    .headshot {
        display: block;
        width: 400px;
        top: 0%;
    }
}