/* Defines Universal Font Family */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* prevents horizontal scrolling */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --turtclr: #00CED1;
}

/* creates a left boarder throughout the div bord */
.bord {
    border-left: 10px solid #0D52BD;
    margin: 10px;
}


/* Changes to header background color and text color */
header {
    background-color: #333333;
    color: var(--turtclr);
    
}

.headcontainer {
    /* makes the div within the head's children display flex */
    display: flex;
    justify-content: space-between;
    /* makes all children align evenly in the center of cross axis */
    align-items: center;
    padding: 10px 5px;
}

.headnav ul {
    list-style: none;
     display: flex; 
     
    }

    .headnav a {
    text-decoration: none;
    color: var(--turtclr);
    font-size: 20px;
    /* sets padding of the individual list items */
    padding: 5px;
    
    }

/* changes the list items background when hover */
.headnav a:hover {
    background-color: #FAF9F6;
    color: #333333;
}

.aboutbox {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 5px 0px #003152;
}

.headshot {
    height: 400px;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 10px;
}

.abouttext {
    display: flex;
    margin: 10px 5px;
    /* easier to do media queries later on */
    flex-wrap: wrap;
}